.title-primary h1, .title-primary h2, .title-primary h3, .title-primary h4, .title-primary h5, .title-primary h6, .title-primary p{
    font-size: 50px;
    line-height: 50px;
    font-weight: 700;
    color: #000;
}

.title-secondary h1, .title-secondary h2, .title-secondary h3,.title-secondary h4,.title-secondary h5,.title-secondary h6, .title-secondary p{
    font-size: 24px;
    line-height: 50px;
    font-weight: 400;
    color: #D7B46B;
    text-transform: uppercase;
}